// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .all-notes {
        background-color: rgb(165, 233, 233);
        border-radius: 10px;
        width: 30%;
        padding: 20px;
        margin: 30px;
        color: white;
    }